<%= form_for(@itinerary) do |f| %>

  <section class="itinerary-form">

    <div class="form-group">
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
    <div class="form-group">
      <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
    </div>
    <div class="form-group">
      <%= f.number_field :budget, class: "form-control", placeholder: "Budget" %>
    </div>
    <div class="form-group">
      <%= f.text_field :departing_city, class: "form-control", placeholder: "Departing City" %>
    </div>
    <div class="form-group">
      <%= f.text_field :departing_country, class: "form-control", placeholder: "Departing Country" %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </section>
<% end %>
