
<section class="browse">
  <h3>Browse</h3>
  <div class="search-bar">
    <img src="<%= asset_path('search-icon.png') %>">
    <form method="get", action="<%=itineraries_browse_path%>"><input name="search" class="search-input" placeholder= "<%= params[:search] || "Try 'Bali'"%>"></form>
  </div>

    <% @itinerary_search = Itinerary.search(params[:search]) %>
    <% if Itinerary.all.empty? %>
      <h3>Empty Feed</h3>
    <% else %>
      <%# .sort_by {|itinerary| itinerary[:total_reviews]}  %>
      <% if @itinerary_search != nil %>
        <% if @itinerary_search.empty? %>
          <p>Oops - No Results For "<%= params[:search] %>"</p>
        <% else %>
          <% @itinerary_search.each do |itinerary| %>
            <div class="itinerary">
              <h4><%= itinerary.title %></h4>
              <img src="<%= asset_path("airplane-img.jpg")%>">
              <p><%= itinerary.description %></p>
              <p>Budget: $<%= itinerary.budget %></p>
              <div class="rating">
                1 &#9734;<%= radio_button :stars, '1' %>
                2 &#9734;<%= radio_button :stars, '2' %>
                3 &#9734;<%= radio_button :stars, '3' %>
                4 &#9734;<%= radio_button :stars, '4' %>
                5 &#9734;<%= radio_button :stars, '5' %>
              </div>
              <%# <%= button_to [itinerary.reviews.count], itinerary_reviews_path(itinerary), method: :post%>
            </div>
          <% end %>
        <% end %>
      <% else %>
          <% Itinerary.all.each do |itinerary| %>
            <div class="itinerary">
              <h4><%= itinerary.title %></h4>
              <img src="<%= asset_path("airplane-img.jpg")%>">
              <p><%= itinerary.description %></p>
              <p>Budget: $<%= itinerary.budget %></p>
              <%= button_to [itinerary.reviews.count], itinerary_reviews_path(itinerary), method: :post %>
            </div>
          <% end %>
        <% end %>
    <% end %>
</section>
