
<section class="browse">
  <h3>Browse</h3>
  <div class="search-bar">
    <img src="<%= asset_path('search-icon.png') %>">
    <form method="get", action="<%=itineraries_browse_path%>"><input name="search" class="search-input" placeholder= "<%= params[:search] || "Try 'Bali'"%>"></form>
  </div>

    <% @itinerary_search = Itinerary.search(params[:search]) %>
    <% if Itinerary.all.empty? %>
      <h3>Empty Feed</h3>
    <% else %>
      <%# .sort_by {|itinerary| itinerary[:total_reviews]}  %>
      <% if @itinerary_search != nil %>
        <% if @itinerary_search.empty? %>
          <p>Oops - No Results For "<%= params[:search] %>"</p>
        <% else %>
          <% @itinerary_search.each do |itinerary| %>
            <div class="itinerary">
              <a href="<%= itinerary_path (itinerary) %>">
                <h4><%= itinerary.title %></h4>
              </a>
              <img src="<%= asset_path("airplane-img.jpg")%>">
              <p><%= itinerary.description %></p>
              <p>Budget: $<%= itinerary.budget %></p>
              <p>Created by: <%= itinerary.user.first_name %></p>
              <div class="buttons">
                <%= button_to [itinerary.already_liked?(@user) ? "Liked" : "Like"], itinerary_reviews_path(itinerary), method: :post, onclick: "likeButton(this)", class: "button-like" %>
                <%= link_to reviews ||= "#{itinerary.reviews.select {|review| review.like}.count} Likes", itinerary_reviews_path(itinerary) %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
          <% Itinerary.all.each do |itinerary| %>
            <div class="itinerary">
              <a href="<%= itinerary_path (itinerary) %>">
                <h4><%= itinerary.title %></h4>
              </a>
                <img src="<%= asset_path("airplane-img.jpg")%>">
                <p><%= itinerary.description %></p>
                <p>Budget: $<%= itinerary.budget %></p>
                <p>Created by: <%= itinerary.user.first_name %></p>
                <div class="buttons">
                  <%= button_to [itinerary.already_liked?(@user) ? "Liked" : "Like"], itinerary_reviews_path(itinerary), method: :post, onclick: "likeButton(this)"%>
                  <%= link_to reviews ||= "#{itinerary.reviews.select {|review| review.like}.count} Likes", itinerary_reviews_path(itinerary) %>
                </div>
            </div>
          <% end %>
        <% end %>
    <% end %>
</section>
