<section class="show-page">
    <h3>Explore</h3>
  <div class="search-bar">
    <img src="<%= asset_path('search-icon.png') %>">
      <form method="get", action="<%=itineraries_browse_path%>"><input name="search" class="search-input" placeholder="Try 'Bali'"></form>
  </div>
</section>


<!-- Feature actual user Itineraries -->
<section class="featured">
  <h3>Featured</h3>
  <a href="">
    <div class="feature">
      <img src= "<%= asset_path('fabrizio-verrecchia-195644-unsplash.jpg')%>">
      <h4>Paris</h4>
      <p>5 Nights in Paris - Couples Edition</p>
    </div>
  </a>
  <a href="">
    <div class="feature">
      <img src= "<%= asset_path('nicolas-j-leclercq-715304-unsplash.jpg')%>">
      <h4>Iceland</h4>
      <p>8 Nights in Iceland - Adventurer's Only</p>
    </div>
  </a>
  <a href="">
    <div class="feature">
      <img src= "<%= asset_path('don-fontijn-1311551-unsplash.jpg')%>">
      <h4>Marrakech</h4>
      <p>3 Nights in the Marrakech</p>
    </div>
  </a>

</section>

<div class="see-more-btn"><a class= "btn-primary" href="<%= itineraries_browse_path(@user) %>">See More</a></div>
