<section class="view-itinerary">
  <h3>View Itinerary</h3>
  <div class="itinerary">
    <h4><%= @itinerary.title %></h4>
    <img src="<%= asset_path("airplane-img.jpg")%>">
    <p><%= @itinerary.description %></p>
    <p>Budget: $<%= @itinerary.budget %></p>
    <p>Created by: <%= @itinerary.user.first_name %></p>
    <div class="buttons">
      <%= button_to [@itinerary.already_liked?(@user) ? "Liked" : "Like"], itinerary_reviews_path(@itinerary), method: :post, onclick: "likeButton(this)", class: "button-like" %>
      <%= link_to @reviews ||= "#{@itinerary.reviews.select {|review| review.like}.count} Likes", itinerary_reviews_path(@itinerary) %>
    </div>
  </div>
</section>
