<!DOCTYPE html>
<html>
  <head>
    <title>Rails Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <a class="logo" href="/">Wanderu</a>
    <nav>
      <a href=<%= login_path %>>Log In</a>
      <a href=<%= new_user_path %> >Sign Up</a>
    </nav>
  </header>
  <body>

    <section class="form">
      <h3>Log in</h3>

      <%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

          <div class="form-group">
            <%= f.text_field :username, class: "form-control" , placeholder: "Username"%>
          </div>
          <div class="form-group">
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>


          <div class="actions">
            <%= f.submit class: "btn btn-primary", value: "Log in" %>
          </div>
      <% end %>

      <!-- OAuth or -->
      <p>  or  </p>

      <div class="omniauth">
        <a href="/auth/facebook"><img src="<%= asset_path("facebook-login.png") %>"></a>
        <a href="/auth/google"><img src="<%= asset_path("google-login.png") %>"></a>
      </div>
      
      <p>Don't have an account? <a href=<%= new_user_path %>>Sign up</a></p>
    </section>
    <footer>
      <p> &copy 2019 Wanderu Inc. All rights reserved </p>
    </footer>
  </body>
</html>
