  <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <p>Invalid inputs. Please try again.</p>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.text_field :username, class: "form-control", placeholder: "Username"  %>
      </div>
      <div class="form-group">
        <%= f.text_field :first_name, class: "form-control", placeholder: "First Name"  %>
      </div>
      <div class="form-group">
        <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name"  %>
      </div>
      <div class="form-group">
        <%= f.text_field :email, class: "form-control", placeholder: "Email"  %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>

  <% end %>
