<section class="profile">
  <div class="profile-image">
    <img src="<%= asset_path('profile-image.png') %>">
    <a>Edit</a>
  </div>

  <div class="profile-information">
    <h3>Public Profile</h3>
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :first_name, "First Name" %><br>
        <%= f.text_field :first_name, class: "form-control", placeholder: "First Name"  %>
      </div>
      <div class="form-group">
        <%= f.label :last_name, "Last Name" %><br>
        <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name"  %>
      </div>
      <div class="form-group">
        <%= f.label :username, "Username" %><br>
        <%= f.text_field :username, class: "form-control", placeholder: "Username"  %>
      </div>
      <div class="form-group">
        <%= f.label :email, "Email" %><br>
        <%= f.text_field :email, class: "form-control", placeholder: "Email"  %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "Password", type: "hidden" %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
