<!DOCTYPE html>
<html>
  <head>
    <title>Sonderu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        background-image: url(<%= asset_path('ian-dooley-280928-unsplash.jpg')%>);
        background-size: cover;
      }
    </style>
  </head>

  <header>
    <a class="logo" href="/">Sonderu</a>
    <nav>
      <a href=<%= login_path %>>Log In</a>
      <a href=<%= new_user_path %> >Sign Up</a>
    </nav>
  </header>

  <body>

    <section class="form">
      <h3> Sign up for an account </h3>
      <p>Explore travel plans and earn money off of yours!</p>
      <%= render 'form' %>

      <!-- OAuth or -->
      <div class="or-container">
        <span class="bar-icon"></span>
        <span class="or-p">or</span>
        <span class="bar-icon"></span>
      </div>

      <div class="omniauth">
        <a href="/auth/facebook"><img src="<%= asset_path("fb-login-2.png") %>"></a>
      </div>
      <p>Have an account? <a href=<%= login_path %>>Log in</a></p>
    </section>
    <footer>
      <p> &copy 2019 Sonderu Inc. All rights reserved </p>
    </footer>
  </body>
</html>
