<section class="show-page-first">
  <h3> My Itineraries</h3>
    <% if !@user.itineraries %>
      <section class="my-itineraries">
        <p>You currently haven't created any itineraries</p>
        <div class="button"> <a class= "btn-primary" href="<%= new_user_itinerary_path(@user) %>">Create New</a></div>
      </section>
    <% else %>
      <section class="my-itineraries">
        <% @user.itineraries.each do |itinerary| %>
          <div class="itinerary">
            <h4><%= itinerary.title %></h4>
            <img src="<%= asset_path("airplane-img.jpg")%>">
            <p><%= itinerary.description %></p>
            <p>Budget: $<%= itinerary.budget %></p>
            <div class="buttons">
              <a class= "btn-primary" href="<%= edit_user_itinerary_path(@user, itinerary) %>">Edit</a>
            </div>
          </div>
        <% end %>
        <div class="button"> <a class= "btn-primary" href="<%= new_user_itinerary_path(@user) %>">Create New</a></div>
      </section>
    <% end %>
</section>

<section class="show-page">

  <h3> My Library </h3>
    <!-- Liked Itineraries -->
    <% if !@user.reviews %>
      <p>You have nothing in your Library. Browse and like itineraries to save them here.</p>
    <% else %>
      <% @itineraries.each do |itinerary| %>
        <div class="itinerary">
          <h4><%= itinerary.title %></h4>
          <img src="<%= asset_path("airplane-img.jpg")%>">
          <p><%= itinerary.description %></p>
          <p>Budget: $<%= itinerary.budget %></p>
          <p>Created by: <%= itinerary.user.first_name %></p>
          <div class="buttons">
            <%= button_to ["Like"], itinerary_reviews_path(itinerary), method: :post, onclick: "likeButton(this)", class: "button-like" %>
            <%= link_to reviews ||= "#{itinerary.reviews.select {|review| review.like}.count} Likes", itinerary_reviews_path(itinerary) %>
          </div>
        </div>
      <% end %>
    <% end %>
</section>
