<!DOCTYPE html>
<html>
  <head>
    <title>Trailwaze</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <a class="logo" href="">Trailwaze</a>
    <nav>
      <a href=<%= login_path %>>Log In</a>
      <a href=<%= new_user_path %> >Sign Up</a>
    </nav>
  </header>

  <body>
    <%= yield %>
    <footer>
      <p> &copy 2019 Trailwaze Inc. All rights reserved </p>
    </footer>
  </body>
</html>
