<!DOCTYPE html>
<html>
  <head>
    <title>Sonderu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'user', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <a class="logo" href="<%=user_itineraries_path(@user) %>">Sonderu</a>
    <nav>
      <a href="<%=user_itineraries_path(@user) %>">Browse</a>
      <a href="<%=user_path(@user) %>">Library</a>
      <a href="<%= edit_user_path(@user) %>">Profile</a>
      <a href="<%= logout_path %>">Log out</a>
    </nav>
  </header>

  <body>
    <%= yield %>

  <footer>
    <p> &copy 2019 Sonderu Inc. All rights reserved </p>
  </footer>
  </body>

</html>
