<!DOCTYPE html>
<html>
  <head>
    <title>Trailwaze</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'user', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <a class="logo" href="<%=user_itineraries_path(@user) %>">Trailwaze</a>
    <nav>
      <a class="browse-itineraries" href="<%=itineraries_path %>">Browse</a>
      <a href="<%=user_path(@user) %>">Library</a>
      <a href="<%= logout_path %>">Log out</a>
    </nav>
  </header>

  <body>
    <%= yield %>
  <footer>
    <p> &copy 2019 Trailwaze Inc. All rights reserved </p>
  </footer>
  </body>
  
</html>
